/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

/* Colors */
:root {
	/* Primary Colors */
	--dark_cyan: hsl(158, 36%, 37%);
	--very_dark_cyan: hsl(158, 36%, 27%);
	--cream: hsl(30, 38%, 92%);

	/* Neutral Colors */
	--very_dark_blue: hsl(212, 21%, 14%);
	--dark_grayish_blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

body {
	background-color: var(--cream);
	display: grid;
	font-size: 2rem;
	height: 100%;
	place-content: center;
}

@media only screen and (max-width: 375px) {
	body {
		display: flex;
		flex-direction: column;
		font-size: 1em;
	}
}

p,
h1 {
	overflow-wrap: break-word;
}

#container {
	align-items: center;
	background-color: var(--white);
	box-sizing: content-box;
	border-radius: 0.5rem;
	display: grid;
	justify-items: center;
	position: relative;
	margin: 2rem 1rem 1rem;
	max-width: 1200px;
	@media min-width: 375px;
	overflow: hidden;
}

@media (min-width: 600px) {
	#container {
		grid-template-columns: 1fr 1fr;
	}
}

#product_image {
	align-items: center;
	max-width: 600px;
	object-fit: fit;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#product_info {
	max-width: 600;
	padding: 1rem;
}

.text {
	color: var(--dark_grayish_blue);
	font-family: "Montserrat";
}

#title {
	color: var(--very_dark_blue);
	font-family: "Fraunces";
	line-height: 1;
}

#product_category {
	color: var(--dark_grayish_blue);
	letter-spacing: 0.5rem;
}

#price {
	align-items: center;
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.new_price {
	color: var(--dark_cyan);
	font-family: "Fraunces";
	font-size: 2rem;
	margin: 0;
}

#product_name {
	font-family: "Fraunces";
}

#add_button {
	align-items: center;
	background-color: var(--dark_cyan);
	border: none;
	border-radius: 0.5rem;
	color: var(--white);
	display: flex;
	font-family: "Montserrat";
	gap: 1em;
	justify-content: center;
	margin-bottom: 1rem;
	padding: 1rem;
	width: 100%;
}

#add_button:is(:hover, :focus) {
	background-color: var(--very_dark_cyan);
}

/* Frontend Mentor */

.attribution {
	margin-top: 1rem;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
